.cart{
    flex: 1;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
    border-radius: 1px;
    border: 1px solid rgb(0, 255, 85);
    
}

.cart h1{
    color: rgb(0, 120, 0);
    margin: 0;
    font-size: 28px;
    margin-bottom: 20px;
}

.cart h3{
    color: rgb(13, 75, 13);
    font-size: 30px;
    margin: 20px;
}


.prod-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin-top: 20px;
    margin-right: 10px;
}

.cart-container {
    display: flex;

}