.about{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 120, 0);
}

.about h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: rgb(31, 68, 24);
    
}

.about h3{
    color: rgb(23, 165, 58);
    
}

.about h5{
    color: rgb(34, 185, 34);
    
}