

.navbar .user-info{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 3px 7px 0 5px;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
}

.navbar .user-info i{
    font-size: 20px;
    color: green;
    padding: 10px;
}

.nav-bar .toggler{
    color: green;
}

.navbar {
    background-color: black;
  }
  

  .navbar-nav .nav-link.active {
    color: green;
  }
  
  
  .navbar-select {
    background-color: green;
    color: white;
  }
  
 
  .navbar-select option {
    background-color: green;
    color: white;
  }
  .navbar-nav .nav-link{
    color: green;;
  }
  .navbar-brand{
    color: green;
  }